<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-image: url("{{ url_for('static', filename='hotel_inside.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <h1> Welcome To Hotel Management System</h1>
    <a href="{{url_for('rooms') }}">View Rooms</a>
    <a href="{{url_for('book_room') }}"> Book a Room</a>
    <a href="{{url_for('customers') }}"> View Bookings</a>  
</body>
</html>